<div class="header">
  <h1>Answer to your question:</h1>
</div>

<div class="form">
  <div><%= @question %></div>
  <div><%= @answer %></div>
  <div class="btn"><%= link_to "Ask another question", ask_path %></div>
</div>
