<div class="header">
  <h1>Ask a Question</h1>
</div>
<div class="form">
  <form action="/answer" method="get">
    <input class="input" type="text" name="question" placeholder="What is your question?">
    <input class="btn" type="submit" value="Ask!">
  </form>
</div>
